@page "/"
@using System.Net.Mail
@using System.Net
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div style="padding-bottom: 25px; width: 90vw; max-width: 1400px; margin: auto;" class="view-desktop">
    <table style="vertical-align: top; height: 100%;">
        <tr>
            <td style="vertical-align: top;">
                <div class="informations-plate">
                    <table style="width: 100%; border-collapse: collapse; text-align: center;">
                        <tr style="height: 15px;" />
                        <tr style="height: 300px;">
                            <td style="vertical-align: middle; display: flex; justify-content: center; align-items: center; height: 300px;">
                                <div class="neomorphisem-bright profile-plate">
                                    <img src="/Images/IMG_000040.jpg" alt="Profile picture" class="profile-picture" />
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 15px;" />
                        <tr>
                            <td>
                                <div style="margin-right: 15px; margin-left: 15px; padding-top: 5px; padding-bottom: 5px;" class="neomorphisem-bright">
                                    <div style="font-size: 36px !important; color: #222222; padding: 10px 5px 0px 5px;">Andraž Košak</div>
                                    <div style="color: #222222; padding: 0px 10px 5px 10px; line-height: 20px;">Computer and informatics technician</div>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 15px;" />
                        <tr>
                            <td>
                                <div style="margin-right: 15px; margin-left: 15px; padding-top: 5px; padding-bottom: 5px;" class="neomorphisem-bright">
                                    <div style="color: #222222;">Date of birth: 15.08.2004</div>
                                    <div style="color: #222222;">Citizenship: Slovenia</div>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 15px;" />
                        <tr>
                            <td>
                                <div style="margin-right: 15px; margin-left: 15px; padding-top: 5px; padding-bottom: 5px;" class="neomorphisem-bright">
                                    <div style="color: #222222;">Current employement:</div>
                                    <div style="color: #222222;">HRC d.o.o.</div>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 15px;" />
                        <tr>
                            <td>
                                <table style="margin: auto;">
                                    <tr>
                                        <td>
                                            <a href="https://www.instagram.com/andraz.kosak/">
                                                <img src="https://img.icons8.com/?size=100&id=RhYNENh5cxlS&format=png&color=222222" style="width: 45px; height: 45px;" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://github.com/Katzusha">
                                                <img src="https://img.icons8.com/?size=100&id=3tC9EQumUAuq&format=png&color=222222" style="width: 45px; height: 45px;" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 15px;" />
                        <tr>
                            <td>
                                <button class="light-button" @onclick="ShowDialog">
                                    Contact me
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="padding-left: 25px; padding-right: 25px; height: 85vh; vertical-align: top;">
                <div class="neomorphisem-dark" style="font-size: 32px; padding: 5px 10px; width: 100%; text-align: center;">
                    I create minimalistic, modern and user-friendly desktop and web applications. I specialize in C# .NET, WPF .NET and Blazor .NET. In my free time I also 3D print.
                </div>
                <h1>
                    About me:
                </h1>
                <div>
                    I am a 20-year-old with a strong passion for programming and designing desktop and web applications. I have collaborated on multiple projects with various companies and continue to actively contribute to new developments.
                    I completed my secondary education at the Computer and Information Science School in Velenje and am currently pursuing further studies at the Higher School of Computer Science and Informatics in Velenje. Besides my studies, I also engage in various side projects, as I enjoy constantly exploring and creating new digital solutions.
                    I am a perfectionist and someone who quickly notices errors and strives to resolve them as soon as possible. Once I start fixing a problem, I won’t stop until it is completely solved. This allows me to create high-quality and refined solutions, regardless of the complexity of the challenge.
                    In my free time, I focus on self-education, tutoring, and training Brazilian Jiu-Jitsu. I am always looking for new opportunities for growth and development, both professionally and personally.
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="view-phone">
    <table style="vertical-align: top; height: 100%; width: 90vw;">
        <tr>
            <td>
                <div class="informations-plate">
                    <table style="width: 100%; border-collapse: collapse; height: 100%; text-align: center; height: 100%;">
                        <tr colspan=2>
                            <td style="vertical-align: middle; display: flex; justify-content: center; align-items: center; padding: 10px; height: 100%;">
                                <div class="neomorphisem-bright profile-plate">
                                    <img src="Images/IMG_000040.jpg" alt="Profile picture" class="profile-picture" />
                                </div>
                            </td>
                            <td>
                                <div style="margin-right: 10px; margin-left: 10px; padding-top: 5px; padding-bottom: 5px;" class="neomorphisem-bright">
                                    <div style="font-size: 24px !important; color: #222222; padding: 10px 5px 0px 5px;">Andraž Košak</div>
                                    <div style="color: #222222; padding: 0px 10px 5px 10px; line-height: 20px;">Computer and informatics technician</div>
                                </div>
                                <div style="margin-right: 10px; margin-left: 10px; margin-top: 15px; padding: 5px;" class="neomorphisem-bright">
                                    <div style="color: #222222;">Date of birth: 15.08.2004</div>
                                    <div style="color: #222222;">Citizenship: Slovenia</div>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 10px;" />
                        <tr>
                            <td colspan="2">
                                <table style="margin-right: 15px;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <div style="margin-right: 15px; margin-left: 15px; padding-top: 5px; padding-bottom: 5px;" class="neomorphisem-bright">
                                                <div style="color: #222222;">Current employement: HRC d.o.o.</div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="light-button" style="height: 30px; width: 100px;" @onclick="ShowDialog">
                                                Contact me
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr style="height: 25px;" />
        <tr>
            <td>
                <div class="neomorphisem-dark" style="font-size: 18px; padding: 5px 10px; width: 100%; text-align: center;">
                    I create modern and user-friendly desktop and web applications. I specialize in C# .NET, WPF .NET and Blazor .NET.
                </div>
                <h1>
                    About me:
                </h1>
                <div style="margin-bottom: 50px;">
                    I am a 20-year-old with a strong passion for programming and designing desktop and web applications. I have collaborated on multiple projects with various companies and continue to actively contribute to new developments.
                    I completed my secondary education at the Computer and Information Science School in Velenje and am currently pursuing further studies at the Higher School of Computer Science and Informatics in Velenje. Besides my studies, I also engage in various side projects, as I enjoy constantly exploring and creating new digital solutions.
                    I am a perfectionist and someone who quickly notices errors and strives to resolve them as soon as possible. Once I start fixing a problem, I won’t stop until it is completely solved. This allows me to create high-quality and refined solutions, regardless of the complexity of the challenge.
                    In my free time, I focus on self-education, tutoring, and training Brazilian Jiu-Jitsu. I am always looking for new opportunities for growth and development, both professionally and personally.
                </div>
            </td>
        </tr>
    </table>
</div>

@if (_dialog)
{
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; backdrop-filter: blur(10px) brightness(50%); z-index: 1;"></div>
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80vw; max-width: 400px; background: #ffe66d; color: white; display: flex; justify-content: center; align-items: center; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); z-index: 9999;">
        <table style="margin: 10px; width: 100%; height: 100%">
            <tr style="text-align: end;">
                <td colspan="100">
                    <button class="light-button" style="width: 40px;" @onclick="HideDialog">X</button>
                </td>
            </tr>
            <tr>
                <td colspan="100">
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <input class="light-input" placeholder="First name" @bind="Firstname" />
                </td>
                <td style="width: 10px;" />
                <td>
                    <input class="light-input" placeholder="Surname" @bind="Surname" />
                </td>
            </tr>
            <tr style="height: 10px;" />
            <tr>
                <td colspan="100">
                    <input class="light-input" placeholder="eMail" @bind="Mail" />
                </td>
            </tr>
            <tr style="height: 10px;" />
            <tr>
                <td colspan="100">
                    <textarea class="light-input" placeholder="Message" style="height: 200px; scrollbar-width: none;" @bind="Message" />
                </td>
            </tr>
            <tr>
                <td colspan="100">
                    <div style="color: red; text-align: center;">@ErrorMsg</div>
                </td>
            </tr>
            <tr>
                <td colspan="100">
                    <hr />
                </td>
            </tr>
            <tr style="text-align: end;">
                <td colspan="100">
                    <button class="light-button" @onclick="SendMail">SEND</button>
                </td>
            </tr>
        </table>
    </div>
}

@code {
    private bool _dialog;
    private string Firstname { get; set; }
    private string Surname { get; set; }
    private string Mail { get; set; }
    private string Message { get; set; }
    private string ErrorMsg { get; set; }

    private void SendMail()
    {
        try
        {
            using (SmtpClient client = new SmtpClient("smtp.gmail.com", 587))
            {
                client.EnableSsl = true;
                client.DeliveryMethod = SmtpDeliveryMethod.Network;
                client.UseDefaultCredentials = false;
                client.Credentials = new NetworkCredential("kosak.andraz@gmail.com", "rets idob rwns ngcn");
                MailMessage msg = new MailMessage();
                msg.To.Add("kosak.andraz@gmail.com");
                msg.From = new MailAddress("kosak.andraz@gmail.com");
                msg.Subject = "AboutMe - contact";
                msg.Body = $"A new message came from {Mail} ({Firstname} {Surname}):\n{Message}";
                client.Send(msg);
                _dialog = false;
                Firstname = null;
                Surname = null;
                Mail = null;
                Message = null;
            }
        }
        catch (Exception ex)
        {
            ErrorMsg = "Something went wrong. Please try again later.";
        }
    }

    // rets idob rwns ngcn
    private void ShowDialog() => _dialog = true;
    private void HideDialog() => _dialog = false;
}