@page "/projects"
@using Microsoft.Data.Sqlite
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>

<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 25px)); gap: 25px; padding-bottom: 25px; width: 100%; max-width: min(90vw, 1400px);">
    @foreach (Models.Project project in GetProjects())
    {
        <div style="background: #ffe66d; border-radius: 10px; height: 400px; width: 300px;">
            <table style="width: 100%; padding: 0px; height: 100%; text-align: center;">
                <tr style="height: 190px;">
                    <td style="padding: 0px;">
                        <img src="Images/@project.Img" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px 10px 0px 0px;" />
                    </td>
                </tr>
                <tr style="height: 5px;" />
                <tr>
                    <td style="padding: 0px 10px;">
                        <div style="text-align: center; color: #222222; font-size: 32px;">
                            @project.Title.ToUpper()
                        </div>
                    </td>
                </tr>
                <tr style="height: 100%;">
                    <td style="padding: 0px 10px;">
                        <div style="text-align: start; color: #222222; line-height: 25px;">
                            @project.Description
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td>
                        <button class="light-button">
                            GitHub
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

@code
{
    public static List<Models.Project> GetProjects()
    {
        List<Models.Project> projects = new List<Models.Project>();
        int x = 0;
        using (var connection = new SqliteConnection("Data source=database.db"))
        {
            connection.Open();
            var cmd = connection.CreateCommand();
            cmd.CommandText = @"select * from Projects";
            using (var reader = cmd.ExecuteReader())
            {
                while (reader.Read())
                {
                    projects.Add(new Models.Project(reader.GetInt32(0), reader.GetString(1), reader.GetString(2), reader.GetString(3), reader.GetString(4)));
                }
            }
        }

        return projects;
    }
}