<div onclick="document.querySelector('.navbar-toggler').click()" style="padding-top: 25px;">
    <nav>
        <div class="div">
            <NavLink href="personal" Match="NavLinkMatch.All">
                <button class="dark-button menu-button">ABOUT ME</button>
            </NavLink>
        </div>

        <div class="div">
            <NavLink href="Projects">
                <button class="dark-button menu-button">PROJECTS</button>
            </NavLink>
        </div>

        <div class="div">
            <NavLink href="Error">
                <button class="dark-button menu-button">UI DESIGNS</button>
            </NavLink>
        </div>
    </nav>
</div>

